*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #202124;
    margin:0;
    width: 100%;
    height: 100%; 
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 10vh;
}
.container{
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}


#logo{
    height: 92px;
    margin-bottom: 20px;
}
.busqueda{
    display: flex;
    background-color: transparent;
    border: transparent;
    width: 40px;
    height: 40px;
    padding-top: 3px;
    padding-left: 7px;
    width: 400px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    align-items: center;
    justify-content: center;
    
 /*   background-image: url('lupa.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 15px center; 
    padding-left: 50px; */
}
.lupita{
    /*size: 25px;*/
    display: flex;
    padding-left: 8px;
    padding-top: 3px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: end;
}
.camara{
    padding-left: 60px;
    padding-top: 0px;
    padding-bottom: 3px;
    width: 27px;
    height: 34px;
    align-items: center;
}
.microfono{
   /* padding-left: 550px;*/
    
    padding-bottom: 25px;
    width: 27px;
    height: 34px;
    align-items: center;
}
.encierro{
    display: flex;
    background-color: transparent;
    border-radius:20px;
    width: 584px;
    height: 40px;
    border: 1px solid grey;
    color: white;
}
button{
    background-color: #303134;
    border:none;
    color: white;
    height: 40px;
    padding: 0 16px;
}
.centrado{
    text-align: center;
}
.espacio{
    padding-left: 20px; 
}
.centrado#padding{
    padding-bottom: 20px;
}
/*.footer_uno{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    color: white;
    justify-content: space-between;
    padding: 0px;
    border: 0px;
    height: 10vh;
}
.footerinterno{
    display: flexbox;
    flex-direction: row;
    align-items: center;
justify-content: flex-end;
    
}
.footer_dos{
    background-color: #171717;
    color: white;
    justify-content: flex-end;
    flex-direction: column-reverse;
    display: flexbox;
}*/
#menu{
    display: flex;
    justify-content: flex-end;
    padding:10px;
}
.link{
    text-decoration: none;
    color: white;
    padding:15px;
    justify-content: center;
    align-items: center;
}
.imagenes{
    padding: 3px;
    align-items: center;
}
.imados{
    padding-top: 10px;
    align-items: center;
}
.imag_camara{
padding-top: 5px;
padding-bottom: 2px;
padding-right: 5px;
align-items: center;
}
.link:hover{
    color: lightgray;
    text-decoration: underline;
}
.colombia{
    display: flex;
    align-items: initial;
    justify-content: initial;
}
.footerGrande{
    display: flex;
    background-color: #202124;
    padding: 1px 1px;
}
.footerIzq{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    width: 100%;

}
.footerDer{
    display: flex;
    justify-content: flex-end;   
}
footer{
    display: flex;
    flex-flow:column;
    background-color: #202124;
}